* {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
}
  
.container {
  display: flex;
  justify-content: space-between;

}
  nav {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(144, 224, 248, 0.377);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: none;
  }

  nav li a:hover { 
    background-color: rgba(64, 224, 208, 0.774);
    color: white;
  }
  
  .show-items {
    display: flex;
  }
  
  nav ul li a {
    color: navy;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    padding: 12px;
    border-radius: 9px;
  }
  
  li {
    margin-right: 13px;
  }
  nav .toggle {
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
  }
  
  
    /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    nav .menu-label {
      display: none;
    }
  
    nav ul {
      display: flex;
      flex-direction: row;
    }
  
    nav ul li {
      padding-right: 8px;
    }
  
    nav .toggle {
      display: none;
    }
    p {
      text-align: center;
      font-size: xx-large;
      padding: 1%;
      margin: 1%;
      color: rgb(91, 10, 138);
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    nav ul,
    main {
      width: 1200px;
      margin: 0 auto;
    }
    p {
      text-align: center;
      font-size: xx-large;
      padding: 1%;
      margin: 1%;
      color: rgb(91, 10, 138);
    }
  }

  /*--------------------------NAV-----------------------------------------*/
  .banner {
    position: relative;
    }
    .wrapper1 {
      flex: 1;
      text-align: center;
       }
    .wrapper1 ul li {
      list-style-type: none;
      display: inline-block;
      padding: 2%;
      
    }
    .wrapper1 ul li a {
      color: rgba(158, 45, 68, 0.842);
      text-decoration: none;
      font-size: 25px;
     
    }
    .wrapper1 ul li ::after {
      content: '';
      width: 0;
      height: 2px;
      display: block;
      font-size: large;
      background: turquoise;
      margin: auto;
      transition: 0.5s;
    }
    
    .wrapper1 ul li :hover{
      width: 100%;
      content: '';
      height: 2px;
      display: block;
      background: aquamarine;
      margin: auto;
    }
    
    .item1 {
      background: lightslategray;
    }
    .container1 {
      display: flex;
      text-align: center;
    }
   
    main {
      display: flex;
      flex-direction: column;
    }
    /*----------------------------------------MAIN----------------------------------------------*/
    p {
      text-align: center;
      font-size: xx-large;
      padding: 1%;
      margin: 1%;
      color: rgb(91, 10, 138);
    }
    footer p {
      text-align: center;
      color: navy;
      font-size: medium;
      padding: 0;
      margin: 0;
    }
    footer {
      color: navy;
      padding: 3%;
      background-color: rgba(168, 132, 99, 0.486);
      margin-top: 2;
    }

    body {
      background-image:  url(images/bgwebsite-min.jpg);
     }
    header {
      width: 100%;
    }

    /*-----------------------------------------------ABOUT---------------------------------------------*/
    body.about {
      margin: 0;
      padding: 0;
    }
    
    h1 {
      text-align: center;
      padding: 1%;
      margin: 1%;
    }
    .about-img {
      width: 20%;
      height: 20%;
      padding: 10px;
      margin: 10px
    }
    .flex-about {
      display: flex;
    }
    .item2 {
      font-size: large;
      font-family: 'Nunito', sans-serif;
    }

       /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    nav .menu-label {
      display: none;
    }
  
    nav ul {
      display: flex;
      flex-direction: row;
    }
  
    nav ul li {
      padding-right: 8px;
    }
  
    nav .toggle {
      display: none;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    nav ul,
    main {
      width: 1200px;
      margin: 0 auto;
    }
  }
  /*--------------------------------------------------------Blog------------------------------------------------------------*/
  body.blog {
  margin: 0;
  padding: 0;
  }
  h1 {
    text-align: center;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  .item4 {
    display: flex;
    margin: 25px;
  }
  b {
    font-size: large;
    color: black;
    padding: 20px;
  }
  /*-----------------------------------POST1--------------------------------------------------------------------*/
  body.post1 {
    margin: 0;
    padding: 0;
  }
  p {
    color: darkslategray;
    font-size: medium;
    width: 100%;
    text-align: left;
  }
  h3 {
   margin-left: 2%;
  }
  h1 {
    text-align: left;
  }
  footer p {
    width: 100%;
  }
  .bastard-pic {
    margin-left: 2%;
  }
     /* Medium devices (landscape tablets, 768px and up) */
     @media only screen and (min-width: 768px) {
      nav .menu-label {
        display: none;
      }
    
      nav ul {
        display: flex;
        flex-direction: row;
      }
    
      nav ul li {
        padding-right: 8px;
      }
    
      nav .toggle {
        display: none;
      }
      p {
        color: darkslategray;
        font-size: medium;
        width: 60%;
        text-align: left;
      }
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
      nav ul,
      main {
        width: 1200px;
        margin: 0 auto;
      }
      p {
        color: darkslategray;
        font-size: medium;
        width: 60%;
        text-align: left;
      }
    }
    /*----------------------------------post2-----------------------------------------------------*/
    .iframe-container{
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; 
      height: 0;
    }
    .iframe-container iframe{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    h1 {
      text-align: center;
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      nav .menu-label {
        display: none;
      }
    
      nav ul {
        display: flex;
        flex-direction: row;
      }
    
      nav ul li {
        padding-right: 8px;
      }
    
      nav .toggle {
        display: none;
      }
      p {
        color: darkslategray;
        font-size: medium;
        width: 60%;
        text-align: left;
      }
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
      nav ul,
      main {
        width: 1200px;
        margin: 0 auto;
      }
      p {
        color: darkslategray;
        font-size: medium;
        width: 60%;
        text-align: left;
      }
    }
/*------------------------------------------------CONTACT-----------------------------------------------------*/
* {
  box-sizing: border-box;
}

/* ===============
   TYPOGRAPHY
   =============== */

body.contact {
  font-family: sans-serif;
}

/* ===============
   BUTTONS
   =============== */

button[type="submit"] {
  color: white;
  background-color: #0d235efd;
  padding: 12px 20px;
  border: 1px solid #414241;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}


input[type="submit"] {
  background-color: #6b8891f3;
  color: white;
  padding: 12px 20px;
  border: 1px solid #494b49;
  border-radius: 7.5px;
  cursor: pointer;
  text-align: center;
  width: 150px;
}

input[type="submit"]:hover {
  background-color: navy;
}


/* ===============
   STRUCTURE
   =============== */

.wrapper-form {
  border-radius: 7px;
  background-color: rgba(163, 163, 146, 0.664);
  padding: 10px;
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}

.wrapper-button {
  display: flex;
  justify-content: space-around;
  margin-top:10px ;
}

/* ===============
   FORM CONTROLS
   =============== */

input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  margin-bottom: 10px;
  resize: vertical;
}
input[type="checkbox"] {
width: 20px;
height: 20px;
}

textarea {
  font-family: sans-serif;
}


.label-required {
  font-size: 0.8rem;
  color: red;
}

    
    
    
    
    
    
    
    
    
    
    
    