* {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
  

}
body {
  background-image:  url(images/bgwebsite.jpg);
 }
header {
  width: 100%;
}

nav {
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(144, 224, 248, 0.377);
}
.image {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.banner {
position: relative;
}
.btn {
 display: inline-block;
  justify-content: space-between;
  padding: 12px 34px;
  margin:30px;
  text-decoration: none;
  font-size: larger;
  border: 2px solid teal;
  border-radius: 12px;
  background:white;
  position: relative;
  cursor: pointer;
}
.btn :hover{
  border: 2px solid ;
  background: turquoise;
  transition: 0.5s;
  display: inline-block;
 
  position: relative;
  cursor: pointer;

}
.btn-width {
  width: 100%;
  text-align: center;
}

footer {
  color: navy;
  padding: 3%;
  background-color: rgba(168, 132, 99, 0.815);
}
.about-image {
  width: 10%;
  height: 10%;
  padding: 10px;
  margin: 10px
}

nav img {
  width: 100%;
  padding-right: 15px;
}
.wrapper {
  flex: 1;
  text-align: right;
}
.wrapper ul li {
  list-style: none;
  display: inline-block;
  padding: 2%;
}
.wrapper ul li a {
  color: rgb(38, 38, 131);
  text-decoration: none;
  font-size: large;
}
.wrapper ul li ::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  background: turquoise;
  margin: auto;
  transition: 0.5s;
}

.wrapper ul li :hover{
  width: 100%;
  content: '';
  height: 2px;
  display: block;
  background: turquoise;
  margin: auto;
}
