* {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
  

}
body {
  background-image:  url(images/bgwebsite-min.jpg);
 }
header {
  width: 100%;
}

nav {
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(144, 224, 248, 0.377);
}
.image {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.banner {
position: relative;
}
.wrapper1 {
  flex: 1;
  text-align: center;
}
.wrapper1 ul li {
  list-style-type: none;
  display: inline-block;
  padding: 2%;
  
}
.wrapper1 ul li a {
  color: rgba(158, 45, 68, 0.842);
  text-decoration: none;
  font-size: 25px;
 
}
.wrapper1 ul li ::after {
  content: '';
  width: 0;
  height: 2px;
  display: block;
  font-size: larger;
  background: turquoise;
  margin: auto;
  transition: 0.5s;
}

.wrapper1 ul li :hover{
  width: 100%;
  content: '';
  height: 2px;
  display: block;
  background: aquamarine;
  margin: auto;
}

.item1 {
  background: lightslategray;
}
.container1 {
  display: flex;
  text-align: center;
}
nav img {
  width: 100%;
  padding-right: 15px;
}
.wrapper {
  flex: 1;
  text-align: right;
}
.wrapper ul li {
  list-style: none;
  display: inline-block;
  padding: 2%;
}
.wrapper ul li a {
  color: rgb(38, 38, 131);
  text-decoration: none;
  font-size: large;
}
.wrapper ul li ::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  background: turquoise;
  margin: auto;
  transition: 0.5s;
}

.wrapper ul li :hover{
  width: 100%;
  content: '';
  height: 2px;
  display: block;
  background: turquoise;
  margin: auto;
}

p {
  text-align: center;
  font-size: xx-large;
  padding: 1%;
  margin: 1%;
  color: rgb(91, 10, 138);
}

footer p {
  text-align: center;
  color: navy;
  font-size: medium;
  padding: 0;
  margin: 0;
}
footer {
  color: navy;
  padding: 3%;
  background-color: rgba(168, 132, 99, 0.486);
  margin-top: 2;
}
nav .fa {
  display: none;
}
@media (max-width:700px) {

  p {
    text-align: center;
    font-size: x-large;
    padding: 1%;
    margin: 1%;
    color: rgb(91, 10, 138);
  }
  .wrapper ul li {
    display: block;
    color: grey;
    padding: 5px;
    font-size: 25px;
  }
  
  nav .fa {
    display: block;
    color: black;
    margin: 10px;
    font-size: 22px;
    text-align: right;
    padding: 5px;
    cursor: pointer;
  }
  .wrapper {
    position: absolute;
    background: rgba(144, 224, 248, 0.836);
    height: 35vh;
    z-index: 2;
    text-align: left;
    top: 0;
    right: -200px;
    width: 200px;
  }
  .wrapper ul {
padding: 20px;
  }
}
/*-------------------------------------------------------About-------------------------------------------------*/

body.about {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 1%;
  margin: 1%;
}
.about-image {
  width: 20%;
  height: 20%;
  padding: 10px;
  margin: 10px
}
.flex-about {
  display: flex;
}
.item2 {
  font-size: large;
}
